.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}
.itemForm {
    height: 50px;
    margin-bottom: 20px;
}
.itemFormInput {
    background-color: #F6FBFF;
    font-size: 15px;
    width: 200px;
    height: 25px;
    padding: 5px;
    outline: none;
    border: 1px solid #B9B8C3;
    margin-right: 10px;
}
.itemFormBtn {
    color: #333333;
}
@media screen and (max-width: 450px) {
    .itemFormInput {
        width: 150px;
    }
}
